.container{
    background-color: #ffffff;
    max-height: 70vh;
    min-height: 70vh;
    min-width: 30%;
    margin-left: 30px;
    border-radius: 5px;;

}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.input{
    margin: 15px;
    padding:20px 10px;
    border-radius: 5px;
    border: solid gray 1px;
    resize: none;
    outline: none;
}

.desc{
    margin: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 80px;
    border-radius: 5px;
    border: solid gray 1px;
    resize: none;
    outline: none;

}
.button{
    margin: auto;
    margin-top: 15px;
    min-width: 90%;
    font-size: 1rem;
    font-weight: 500;
}

.submitbutton{
    margin: auto;
    margin-top: 50px;
    min-width: 90%;
    font-size: 1rem;
    font-weight: 500;
}

.file{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
